h1.chartTitle{
  font-size:16px;
}
p.chartSubtitle {
    font-size: 14px;
    font-weight: 600;
}
h1.rangetitle {
    font-size: 20px;
}
.noticeText{
  font-size:36px;
}
.calc {
    margin-top:30px;
    display: block;
    width: 200px;
    height: 30px;
    background: white;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 40%;
    box-sizing: 2px black;
    box-shadow: 2px black;
    border: 2px black aliceblue;
    box-shadow: 5px 5px 3px #888888;
    border-radius: 5px;
}
.cal a:hover{
    text-decoration: none;
    color:grey;
}
.dashTitle{
  margin-top:100px;
  font-size: 26px;
}
